<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>




  <main class="appartement-fiche">
    <h1 class="appartement-titre">Villa BERBERINE-Essaouira</h1>
    <div class="appartement-meta">Villa à vendre</div>
    <p class="PRICEMAD"><strong> Prix :</strong> 4 260 000 MAD</p>
    <!-- Main image -->
    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Villas9-images/Villa BERBERINE-photo1.jpg" alt="Image principale">

        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>

      <!-- Thumbnail gallery -->
      <div class="appartement-galerie">
        <div>
          <img src="/static/Villas9-images/Villa BERBERINE-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Villas9-images/Villa BERBERINE-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Villas9-images/Villa BERBERINE-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Villas9-images/Villa BERBERINE-photo16.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo17.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo18.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo19.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo20.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Villas9-images/Villa BERBERINE-photo21.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo22.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo23.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo24.jpg" onclick="switchPhoto(this)">
          <img src="/static/Villas9-images/Villa BERBERINE-photo25.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Villas9-images/Villa BERBERINE-photo26.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      L’hébergement Villa BERBERINE se situe à Essaouira, à 10 km de ce lieu d’intérêt : Golf de Mogador. Il possède une
      piscine extérieure, une connexion Wi-Fi gratuite, une cuisine commune et un salon commun. Cette villa possède une
      piscine privée, un jardin et un parking privé gratuit.

      Cette villa comporte 4 chambres, 4 salles de bains, du linge de lit, des serviettes, une télévision à écran plat,
      un coin repas, une cuisine entièrement équipée et une terrasse offrant une vue sur le jardin.

      Un petit-déjeuner buffet, à la carte ou anglais/irlandais complet est servi sur place.

      L’établissement dispose d'une plage privée.

      L'aéroport le plus proche (Aéroport Essaouira - Mogador) est à 12 km.
    </div>

    <div class="appartement-details">
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de la Villa</h3>
        <p><i class="fa-solid fa-wifi icon-large"></i> <strong> Wi-Fi :</strong> Gratuite dans tout
          l’établissement</p>
        <p><i class="fa-solid fa-square-parking icon-large"></i> <strong>Parking :</strong> Gratuit et privé, sans
          réservation</p>
        <p><i class="fa-solid fa-people-group icon-large"></i> <strong>Capacité :</strong> Jusqu’à 6 adultes and 4
          enfants
        </p>
        <p><i class="fa-solid fa-house icon-large"></i> <strong>Villa :</strong> 4 chambres, 4 salles de bains, salon
          commun, cuisine commune, terrasse, jardin</p>

        <p><i class="fa-solid fa-bed icon-large"></i> <strong>Literie :</strong><br>
          • Chambre 1 : 1 grand lit double<br>
          • Chambre 2 : 1 lit simple et 1 grand lit double<br>
          • Chambre 3 : 1 lit simple et 1 grand lit double<br>
          • Chambre 4 : 1 grand lit double</p>
        <p><i class="fa-solid fa-temperature-high icon-large"></i> <strong>Climatisation :</strong> Oui</p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong>Salle de bains :</strong> 4 salles de bains avec douche,
          baignoire, sèche-cheveux, serviettes et articles de toilette</p>
        <p><i class="fa-solid fa-kitchen-set icon-large"></i> <strong>Cuisine :</strong> Entièrement équipée (four,
          lave-vaisselle, réfrigérateur, machine à café, grille-pain, bouilloire, micro-ondes, plaque de cuisson)</p>
        <p><i class="fa-solid fa-tv icon-large"></i> <strong>Télévision :</strong> Écran plat</p>
        <p><i class="fa-solid fa-umbrella-beach icon-large"></i> <strong>Terrasse & Jardin :</strong> Terrasse meublée
          avec espace repas extérieur, jardin, plage privée</p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong> Prix :</strong> À partir de <strong>4 260 000
            MAD</strong></p>
      </div>
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Équipements & Services</h3>
        <ul>
          <li><i class="fa-solid fa-water-ladder icon-large"></i> Piscine chauffée avec serviettes et parasols</li>
          <li><i class="fa-solid fa-chair icon-large"></i> Salon commun, salle à manger et mobilier extérieur</li>
          <li><i class="fa-solid fa-martini-glass icon-large"></i> Bar et minibar</li>
          <li><i class="fa-solid fa-ban-smoking icon-large"></i> Établissement entièrement non-fumeurs</li>
          <li><i class="fa-solid fa-wind icon-large"></i> Climatisation et chauffage</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-user-shield icon-large"></i> Conditions de l’établissement</h3>
        <ul>
          <li><i class="fa-solid fa-child icon-large"></i> Tous les enfants sont les bienvenus</li>
          <li><i class="fa-solid fa-baby icon-large"></i> Lit bébé disponible sur demande : <strong>5 €/nuit</strong>
            (sous réserve de disponibilité)</li>
          <li><i class="fa-solid fa-ban icon-large"></i> Fêtes et événements non autorisés</li>
          <li><i class="fa-solid fa-user-lock icon-large"></i> Âge minimum pour l’enregistrement : 18 ans</li>
          <li><i class="fa-solid fa-dog icon-large"></i> Animaux non admis</li>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Hébergement non-fumeurs</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
        <ul>
          <li>Français</li>
        </ul>
      </div>

    </div>

    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>



    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3395.2458817849606!2d-4.977935724542201!3d31.68184547414046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd9805d86821a3e1%3A0xb1cffe5fa4dae85e!2sLA%20BERBERINA!5e0!3m2!1sfr!2sma!4v1750022812997!5m2!1sfr!2sma"
          width="500px" height="460px" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </main>



  <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>
</html>