<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>


  <main class="appartement-fiche">
    <h1 class="appartement-titre">RIAD MAROSKO-Essaouira</h1>
    <div class="appartement-meta">Maison d'Hôte à vendre </div>
    <p class="PRICEMAD"><strong> Prix :</strong> 968 000 MAD</p>
    <!-- Main image -->
    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Maisons12-images/RIAD MAROSKO-photo1.jpg" alt="Image principale">

        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>


      <!-- Thumbnail gallery -->
      <div class="appartement-galerie">
        <div>
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo16.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo18.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo19.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo20.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo21.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo22.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo23.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo24.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo25.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo26.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo27.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons12-images/RIAD MAROSKO-photo28.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      L’établissement RIAD MAROSKO se situe à Essaouira, à 700 mètres de ce lieu d’intérêt : Plage d'Essaouira. Il
      possède un service de concierge, un salon commun, une terrasse, des hébergements non-fumeurs, ainsi qu'une
      connexion Wi-Fi gratuite. Cette maison d'hôtes est idéalement placé dans le quartier Ahl Agadir, à 6 km de : Golf
      de Mogador. L’établissement comprend des transferts aéroport et un service de location de voitures.

      Tous les hébergements comportent un patio. Vous bénéficierez d'une salle de bains privative dotée d’une douche,
      d'articles de toilette gratuits et d'un sèche-cheveux. Des serviettes et du linge de lit sont fournis.

      Un petit-déjeuner à la carte, continental ou halal est servi sur place.

      Le personnel de la réception ouverte 24h/24 parle arabe, anglais et français.

      L'aéroport le plus proche (Aéroport Essaouira - Mogador) est à 17 km.
    </div>

    <div class="appartement-details">
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de la Maison</h3>
        <p><i class="fa-solid fa-people-group icon-large"></i> <strong> Chambres familiales :</strong> Oui</p>
        <p><i class="fa-solid fa-smoking-ban icon-large"></i> <strong> Chambres non-fumeurs :</strong> Oui</p>
        <p><i class="fa-solid fa-umbrella-beach icon-large"></i> <strong> Terrasse :</strong> Oui</p>
        <p><i class="fa-solid fa-receipt icon-large"></i> <strong> Réception :</strong> Ouverte 24h/24</p>
        <p><i class="fa-solid fa-temperature-high icon-large"></i> <strong> Chauffage :</strong> Oui</p>

        <p><i class="fa-solid fa-bed icon-large"></i> <strong> Chambres :</strong> Simples, Doubles, Triples et
          Familiales
        </p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong> Salles de bain :</strong> Privatives avec douche,
          sèche-cheveux et articles de toilette gratuits</p>
        <p><i class="fa-solid fa-eye icon-large"></i> <strong> Vue :</strong> Sur la cour intérieure ou la ville</p>
        <p><i class="fa-solid fa-people-group icon-large"></i> <strong> Capacité :</strong> De 1 à 6 personnes selon la
          chambre et 2 enfants</p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong> Prix :</strong> À partir de 968 000 MAD</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Équipements & Services</h3>
        <ul>
          <li><i class="fa-solid fa-wifi icon-large"></i> Wi-Fi gratuit dans tout l’établissement</li>
          <li><i class="fa-solid fa-square-parking icon-large"></i> Parking public proche (3 € par jour, sans
            réservation)
          </li>
          <li><i class="fa-solid fa-shuttle-space icon-large"></i> Navette aéroport (en supplément)</li>
          <li><i class="fa-solid fa-temperature-high icon-large"></i> Chauffage</li>
          <li><i class="fa-solid fa-bell-concierge icon-large"></i> Réception 24h/24</li>
          <li><i class="fa-solid fa-umbrella-beach icon-large"></i> Terrasse bien exposée</li>
          <li><i class="fa-solid fa-people-group icon-large"></i> Chambres familiales disponibles</li>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Chambres non-fumeurs</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-map-location-dot icon-large"></i> Activités & Loisirs</h3>
        <ul>
          <li><i class="fa-solid fa-person-hiking icon-large"></i> Balades à pied</li>
          <li><i class="fa-solid fa-utensils icon-large"></i> Dîners à thème, cours de cuisine (en supplément)</li>
          <li><i class="fa-solid fa-umbrella-beach icon-large"></i> Plage à 700 m, planche à voile, équitation</li>
          <li><i class="fa-solid fa-golf-ball-tee icon-large"></i> Golf de Mogador à 6 km (en supplément)</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-shield-halved icon-large"></i> Règlement de l’établissement</h3>
        <ul>
          <li><i class="fa-solid fa-child icon-large"></i> Enfants de 3 ans et plus bienvenus</li>
          <li><i class="fa-solid fa-ban icon-large"></i> Aucun lit d’appoint disponible</li>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Établissement non-fumeurs</li>
          <li><i class="fa-solid fa-dog icon-large"></i> Animaux non admis</li>
          <li><i class="fa-solid fa-bed icon-large"></i> Lits bébé disponibles sur demande (sous réserve de
            disponibilité)
          </li>
          <li><i class="fa-solid fa-id-card icon-large"></i> Âge minimum pour s’enregistrer : 18 ans</li>
          <li><i class="fa-solid fa-clock icon-large"></i> Heures calmes : de 22h00 à 09h00</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
        <ul>
          <li>Arabe, Anglais, Français</li>
        </ul>

      </div>
    </div>

    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>




    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3401.4321792161095!2d-9.769674424549306!3d31.5122879742176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdad9bd839800af1%3A0x9f791c98bbfb2936!2sRiad%20Marosko%20Maison%20d&#39;h%C3%B4tes!5e0!3m2!1sfr!2sma!4v1750024438983!5m2!1sfr!2sma"
          width="500px" height="460px" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

  </main>



  <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>

</html>