<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>




  <main class="appartement-fiche">
    <h1 class="appartement-titre">Dar Tahra-Casablanca</h1>
    <div class="appartement-meta">Maison d'Hôte à vendre </div>
    <p class="PRICEMAD"><strong> Prix :</strong> 1 270 000 MAD</p>
    <!-- Main image -->
    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Maisons7-images/Dar Tahra-photo1.jpg" alt="Image principale">

        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>

      <!-- Thumbnail gallery -->
      <div class="appartement-galerie">
        <div>
          <img src="/static/Maisons7-images/Dar Tahra-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons7-images/Dar Tahra-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons7-images/Dar Tahra-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons7-images/Dar Tahra-photo16.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo17.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo18.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo19.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo20.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons7-images/Dar Tahra-photo21.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo22.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo23.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo24.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo25.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons7-images/Dar Tahra-photo26.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons7-images/Dar Tahra-photo27.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      Situé à 15 minutes de route du centre-ville, le Dar Tahra possède des coins salons ainsi qu'un grand jardin doté
      d'une piscine extérieure. Il propose également une réception ouverte 24h/24, une connexion Wi-Fi gratuite
      accessible dans l'ensemble de l'établissement et des salons donnant sur le jardin et la piscine.

      Décorées dans un style marocain, les chambres et suites du Dar Tahra disposent d'une télévision satellite, de la
      climatisation et d'une salle de bains privative avec une baignoire ou une douche. Les suites offrent une vue sur
      la piscine ou le jardin.

      Un petit-déjeuner continental est servi chaque matin et vous serez invités à déguster une cuisine marocaine pour
      le déjeuner et le dîner. Le Dar Tahra propose également des services d'étage et de blanchisserie. Un hammam est
      disponible en supplément.

      La maison d'hôtes se situe à 30 km de l'aéroport international Mohamed V et à seulement 1 minute à pied d'un
      arrêt
      de tramway. Un parking privé est mis à votre disposition gratuitement sur place.
    </div>

    <div class="appartement-details">
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de la Maison</h3>
        <p><i class="fa-solid fa-ruler-combined icon-large"></i> <strong> Surface :</strong> Environ 70 m²</p>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong> Chambres :</strong> 6 chambres (double, junior, senior)
        </p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong> Salles de bain :</strong> Privatives avec douche</p>
        <p><i class="fa-solid fa-umbrella-beach icon-large"></i> <strong> Terrasse :</strong> Oui</p>
        <p><i class="fa-solid fa-mountain-sun icon-large"></i> <strong> Vue :</strong> Sur la montagne et les jardins
        </p>
        <p><i class="fa-solid fa-people-group icon-large"></i> <strong> Capacité :</strong> Jusqu’à 3 personnes selon le
          logement et 3 enfants</p>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong> Literie :</strong><br>
          • Chambre Double Standard : 1 grand lit double<br>
          • Suite Junior : 1 très grand lit double<br>
          • Suite Junior Leila : 1 très grand lit double (2 adultes + 1 enfant)<br>
          • Suite Senior & Senior Ali/Zineb : 1 très grand lit double ou 1 lit simple + 1 très grand lit double<br>
          • Chambre Double Amina/Karima : 1 très grand lit double ou 1 grand lit double</p>
        <p><i class="fa-solid fa-dog icon-large"></i> <strong> Animaux :</strong> Acceptés sur demande (supplément
          possible)</p>
        <p><i class="fa-solid fa-child icon-large"></i> <strong> Enfants :</strong> Tous les enfants sont les
          bienvenus<br>
          • 0 – 2 ans : lit bébé gratuit sur demande<br>
          ⚠️ Les enfants de plus de 2 ans sont comptés comme adultes</p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong> Prix :</strong> À partir de 1 270 000 MAD</p>
        <p><i class="fa-solid fa-tag icon-large"></i> <strong> Référence :</strong> RIAD-TAGHAZOUT-2002</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Équipements & Services</h3>
        <ul>
          <li><i class="fa-solid fa-water-ladder icon-large"></i> Piscine extérieure (accès gratuit)</li>
          <li><i class="fa-solid fa-wifi icon-large"></i> Connexion Wi-Fi gratuite dans tout l’établissement</li>
          <li><i class="fa-solid fa-temperature-high icon-large"></i> Climatisation & chauffage</li>
          <li><i class="fa-solid fa-square-parking icon-large"></i> Parking gratuit public + stationnement dans la rue
          </li>
          <li><i class="fa-solid fa-shield-dog icon-large"></i> Animaux admis sur demande</li>
          <li><i class="fa-solid fa-bag-shopping icon-large"></i> Bagagerie & réception</li>
          <li><i class="fa-solid fa-van-shuttle icon-large"></i> Navette aéroport (en supplément)</li>
          <li><i class="fa-solid fa-tv icon-large"></i> TV écran plat avec chaînes câble</li>
          <li><i class="fa-solid fa-house-chimney-window icon-large"></i> Terrasse & jardin</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-map-location-dot icon-large"></i> Loisirs à proximité</h3>
        <ul>
          <li><i class="fa-solid fa-person-hiking icon-large"></i> Randonnée, balades en nature</li>
          <li><i class="fa-solid fa-anchor icon-large"></i> Marina d’Agadir à 23 km</li>
          <li><i class="fa-solid fa-tree-city icon-large"></i> Parc Atlantica & Golf Tazegzout à proximité</li>
          <li><i class="fa-solid fa-fish icon-large"></i> Pêche et sports nautiques (à proximité)</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-shield-halved icon-large"></i> Règlement de l’établissement</h3>
        <ul>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Établissement non-fumeurs</li>
          <li><i class="fa-solid fa-moon icon-large"></i> Heures silencieuses de 23h00 à 07h00</li>
          <li><i class="fa-solid fa-id-card icon-large"></i> Aucune restriction d’âge à l’enregistrement</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
        <ul>
          <li>Arabe, Anglais, Français</li>
        </ul>
      </div>
    </div>

    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>





    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.2741335842406!2d-7.639903624461993!3d33.5462531733516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2f4bdd69bff%3A0xc13bd0172c8fccb4!2sDar%20Tahra!5e0!3m2!1sfr!2sma!4v1750023940052!5m2!1sfr!2sma"
          width="500px" height="460px" style="border:0;" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

  </main>



  <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>

</html>