<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>





  <main class="appartement-fiche">
    <h1 class="appartement-titre">Riad Dar Rabiaa-Rabat</h1>
    <div class="appartement-meta">Maison d'Hôte à vendre </div>
    <p class="PRICEMAD"><strong> Prix :</strong> 1 150 000 MAD</p>
    <!-- Main image -->
    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Maisons10-images/Riad Dar Rabiaa-photo1.jpg" alt="Image principale">

        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>

      <!-- Thumbnail gallery -->
      <div class="appartement-galerie">
        <div>
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo16.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo17.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo18.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo19.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo20.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons10-images/Riad Dar Rabiaa-photo21.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      L’établissement Riad Dar Rabiaa bénéficie d’un emplacement stratégique à Rabat. Il comprend une connexion Wi-Fi
      gratuite, une terrasse, un bar des hébergements dotés de la climatisation. Il est installé à proximité de
      plusieurs attractions connues, notamment à respectivement 1,3 km, 1,1 km et 2 km de : Plage de Rabat, Kasbah des
      Oudayas et Tour Hassan. Vous pourrez vous détendre dans la piscine intérieure.

      Tous les hébergements disposent d’un coin salon. Vous bénéficierez d'une salle de bains privative dotée d’une
      douche, d'articles de toilette gratuits et d'un sèche-cheveux. Vous profiterez aussi d’une armoire.

      Le personnel de la réception ouverte 24h/24 parle arabe, anglais et français.

      Vous séjournerez à respectivement 2,4 km et 3,9 km de ces lieux d’intérêt : Bibliothèque nationale du Royaume du
      Maroc et Bouregreg Marina. L’établissement se situe à 10 km de l’aéroport le plus proche (Aéroport international
      Rabat-Salé) et propose un service de navette aéroport payant.
    </div>

    <div class="appartement-details">
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de la Maison</h3>
        <p><i class="fa-solid fa-swimming-pool icon-large"></i> <strong>Piscine :</strong> Piscine intérieure ouverte
          toute l’année</p>
        <p><i class="fa-solid fa-square-parking icon-large"></i> <strong>Parking :</strong> Parking public à proximité
          (1,50 € / jour, sans réservation)</p>
        <p><i class="fa-solid fa-wifi icon-large"></i> <strong>Connexion :</strong> Wi-Fi gratuite dans tout
          l’établissement</p>
        <p><i class="fa-solid fa-shuttle-space icon-large"></i> <strong>Navette :</strong> Service navette aéroport (en
          supplément)</p>
        <p><i class="fa-solid fa-users icon-large"></i> <strong>Chambres familiales :</strong> Oui</p>
        <p><i class="fa-solid fa-smoking-ban icon-large"></i> <strong>Non-fumeurs :</strong> Chambres non-fumeurs</p>
        <p><i class="fa-solid fa-door-open icon-large"></i> <strong>Réception :</strong> Ouverte 24h/24</p>
        <p><i class="fa-solid fa-cocktail icon-large"></i> <strong>Bar :</strong> Sur place</p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong>Prix :</strong> 1 150 000 MAD</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-bed icon-large"></i> Types de chambres & capacités</h3>
        <ul>
          <li><i class="fa-solid fa-bed icon-large"></i> <strong>Chambre Double - Ambre :</strong> 1 lit double, 1
            adultes
            et 1 enfant</li>
          <li><i class="fa-solid fa-couch icon-large"></i> <strong>Suite Junior Deluxe - Musc :</strong> 1 grand lit
            double, 1 adultes et 1 enfant</li>
          <li><i class="fa-solid fa-bed icon-large"></i> <strong>Chambre Deluxe - Jasmin :</strong> 1 grand lit double,
            2
            enfant</li>
          <li><i class="fa-solid fa-bed icon-large"></i> <strong>Suite Supérieure - Zher :</strong> 2 lits simples et 1
            grand lit double, 4 adultes</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-house-chimney icon-large"></i> Équipements en chambre</h3>
        <ul>
          <li><i class="fa-solid fa-fan icon-large"></i> Climatisation</li>
          <li><i class="fa-solid fa-user-friends icon-large"></i> Chambres familiales</li>
          <li><i class="fa-solid fa-square-parking icon-large"></i> Parking</li>
          <li><i class="fa-solid fa-bath icon-large"></i> Salle de bains privative (douche, papier toilette, serviettes,
            sèche-cheveux, articles de toilette gratuits)</li>
          <li><i class="fa-solid fa-wifi icon-large"></i> Connexion Wi-Fi gratuite</li>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Chambres non-fumeurs</li>
          <li><i class="fa-solid fa-swimming-pool icon-large"></i> Piscine intérieure</li>
          <li><i class="fa-solid fa-umbrella-beach icon-large"></i> Terrasse</li>
          <li><i class="fa-solid fa-couch icon-large"></i> Coin salon</li>
          <li><i class="fa-solid fa-plug icon-large"></i> Prise près du lit</li>
          <li><i class="fa-solid fa-closet icon-large"></i> Armoire ou penderie</li>
          <li><i class="fa-solid fa-shower icon-large"></i> Douche</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-utensils icon-large"></i> Restauration & Services</h3>
        <ul>
          <li><i class="fa-solid fa-cocktail icon-large"></i> Bar</li>
          <li><i class="fa-solid fa-broom icon-large"></i> Service de ménage quotidien</li>
          <li><i class="fa-solid fa-shuttle-van icon-large"></i> Navette aéroport (en supplément)</li>
          <li><i class="fa-solid fa-door-open icon-large"></i> Réception ouverte 24h/24</li>
          <li><i class="fa-solid fa-file-invoice icon-large"></i> Facture fournie sur demande</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-shield-alt icon-large"></i> Sécurité</h3>
        <ul>
          <li><i class="fa-solid fa-fire-extinguisher icon-large"></i> Extincteurs</li>
          <li><i class="fa-solid fa-video icon-large"></i> Caméras de surveillance à l'extérieur et dans les parties
            communes</li>
          <li><i class="fa-solid fa-lock icon-large"></i> Sécurité 24h/24</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-house icon-large"></i> Général</h3>
        <ul>
          <li><i class="fa-solid fa-blanket icon-large"></i> Couvertures chauffantes</li>
          <li><i class="fa-solid fa-fan icon-large"></i> Climatisation</li>
          <li><i class="fa-solid fa-tile icon-large"></i> Sol carrelé / en marbre</li>
          <li><i class="fa-solid fa-fire icon-large"></i> Chauffage</li>
          <li><i class="fa-solid fa-carpet icon-large"></i> Moquette</li>
          <li><i class="fa-solid fa-child-reaching icon-large"></i> Tous les âges sont les bienvenus</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-child icon-large"></i> Enfants et lits</h3>
        <ul>
          <li><i class="fa-solid fa-child icon-large"></i> Tous les enfants sont les bienvenus</li>
          <li><i class="fa-solid fa-baby icon-large"></i> Aucun lit d’appoint/bébé disponible</li>
          <li><i class="fa-solid fa-id-card icon-large"></i> Aucune restriction d’âge pour l’enregistrement</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-dog icon-large"></i> Animaux domestiques</h3>
        <p>Les animaux de compagnie ne sont pas admis au sein de l’établissement.</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
        <ul>
          <li>Arabe, Anglais, Français</li>
        </ul>
      </div>
    </div>

    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>





    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.7099560960487!2d-6.842126424440724!3d34.02565527316698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76d5fe0558e3b%3A0x5539b0c3d7ebd127!2sRiad%20Dar%20Rabiaa!5e0!3m2!1sfr!2sma!4v1750024266697!5m2!1sfr!2sma"
          width="500px" height="460px" style="border:0;" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>


  </main>



  <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>
</html>