<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>





  <main class="appartement-fiche">
    <h1 class="appartement-titre">Auberge Les Montagnes du Paradis-Agadir</h1>
    <div class="appartement-meta">Maison d'Hôte à vendre </div>
    <p class="PRICEMAD"><strong> Prix :</strong> 850 000 MAD</p>
    <!-- Main image -->
    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo1.jpg"
          alt="Image principale">

        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>

      <!-- Thumbnail gallery -->
      <div class="appartement-galerie">
        <div>
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo16.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo17.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo18.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons9-images/Auberge Les Montagnes du Paradis-photo19.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      L’établissement Auberge Les Montagnes du Paradis vous accueille à Agadir, à 37 km de ce lieu d’intérêt : Golf
      Tazegzout. Il comprend une piscine extérieure, un jardin, une terrasse et un parking privé gratuit. Il est
      installé à respectivement 38 km, 41 km et 41 km de : Atlantica Parc Aquatique, Musee du Patrimoine Amazigh
      d'Agadir et Agadir Oufella Ruins. L’établissement propose une réception ouverte 24h/24, des transferts aéroport,
      un service d'étage et une connexion Wi-Fi gratuite.

      Les hébergements possèdent un balcon offrant une vue sur la piscine. Les hébergements disposent d’une salle de
      bains privative dotée d’une douche et d'articles de toilette gratuits. Ils offrent également une vue sur la
      montagne. Vous profiterez de la climatisation et d’une armoire.

      Un petit-déjeuner végétarien, végétalien ou halal est servi sur place. Sur place, Vous pourrez dîner dans un
      restaurant qui sert un large choix de plats marocains et de plats européens et propose également des options
      végétariennes, sans lactose et halal.

      Vous séjournerez à respectivement 41 km et 43 km de ces lieux d’intérêt : Le port d'Agadir et Marina d'Agadir.
      L'aéroport le plus proche (Aéroport d'Agadir-Al Massira) est à 57 km.
    </div>

    <div class="appartement-details">
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de la Maison</h3>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong> Chambres :</strong> Chambre Double, Triple avec vue
          piscine
          ou montagne, Chambre avec balcon</p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong> Salles de bain :</strong> Salle de bain privative
          (douche,
          articles de toilette, serviettes, WC)</p>
        <p><i class="fa-solid fa-umbrella-beach icon-large"></i> <strong> Terrasse :</strong> Oui, avec mobilier
          extérieur
          et piscine privée</p>
        <p><i class="fa-solid fa-water-ladder icon-large"></i> Piscine extérieure – ouverte toute l’année, avec vue
        </p>
        <p><i class="fa-solid fa-mountain-sun icon-large"></i> <strong> Vue :</strong> Montagne, rivière, piscine,
          jardin
          ou lac</p>
        <p><i class="fa-solid fa-people-group icon-large"></i> <strong> Capacité :</strong> Jusqu’à 3 adultes par
          chambre et 2 enfants
        </p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong> Prix :</strong> À partir de 850 000 MAD</p>
        <p><i class="fa-solid fa-tag icon-large"></i> <strong> Référence :</strong> MNT2025</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Équipements & Services</h3>
        <ul>
          <li><i class="fa-solid fa-wifi icon-large"></i> Connexion Wi-Fi gratuite dans les chambres</li>
          <li><i class="fa-solid fa-square-parking icon-large"></i> Parking gratuit privé sur place</li>
          <li><i class="fa-solid fa-utensils icon-large"></i> Restaurant sur place – menus enfants, spéciaux, fruits
          </li>
          <li><i class="fa-solid fa-house-chimney-window icon-large"></i> Balcon, terrasse, jardin, espace repas
            extérieur
          </li>
          <li><i class="fa-solid fa-dog icon-large"></i> Animaux domestiques admis sans supplément</li>
          <li><i class="fa-solid fa-shirt icon-large"></i> Lave-linge à disposition</li>
          <li><i class="fa-solid fa-person-hiking icon-large"></i> Activités : randonnées, balades à pied, galeries,
            dîners à thème</li>
          <li><i class="fa-solid fa-gamepad icon-large"></i> Jeux de société, puzzles, barrières de sécurité enfants
          </li>
          <li><i class="fa-solid fa-plane-departure icon-large"></i> Navette aéroport disponible (en supplément)</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-spa icon-large"></i> Bien-être</h3>
        <ul>
          <li><i class="fa-solid fa-umbrella-beach icon-large"></i> Parasols, chaises longues</li>
          <li><i class="fa-solid fa-person-booth icon-large"></i> Bain public</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-shield-halved icon-large"></i> Règlement de l’établissement</h3>
        <ul>
          <li><i class="fa-solid fa-child icon-large"></i> Enfants de 1 an et plus bienvenus</li>
          <li><i class="fa-solid fa-baby icon-large"></i> Lit bébé selon disponibilité (pas de lit d’appoint)</li>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Établissement non-fumeurs</li>
          <li><i class="fa-solid fa-dog icon-large"></i> Animaux acceptés sans supplément</li>
          <li><i class="fa-solid fa-moon icon-large"></i> Heures silencieuses : 23h00 à 08h00</li>
          <li><i class="fa-solid fa-id-card icon-large"></i> Aucune restriction d’âge pour l’enregistrement</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
        <ul>
          <li>Arabe, Français</li>
        </ul>
      </div>
    </div>

    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>




    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3434.20440858081!2d-9.495572624586835!3d30.599997174648564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb23456d6b4cf0b%3A0x7e40d569b0ac44ec!2sAuberge%20les%20montagnes%20du%20paradis!5e0!3m2!1sfr!2sma!4v1750024181009!5m2!1sfr!2sma"
          width="500px" height="460px" style="border:0;" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

  </main>



  <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>

</html>