<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>



  <main class="appartement-fiche">
    <h1 class="appartement-titre">Pearl Surf Camp Morocco-Agadir</h1>
    <div class="appartement-meta">Maison d'Hôte à vendre </div>
    <p class="PRICEMAD"><strong> Prix :</strong> 1 330 000 MAD</p>
    <!-- Main image -->
    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo1.jpg" alt="Image principale">

        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>

      <!-- Thumbnail gallery -->
      <div class="appartement-galerie">
        <div>
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Maisons4-images/Pearl Surf Camp Morocco-Photo16.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      L’établissement Pearl Surf Camp Morocco se situe à Agadir, à 400 mètres de ce lieu d’intérêt : Plage Aghroud. Il
      possède un jardin, un salon commun, une terrasse et un parking privé gratuit. Il est installé à respectivement 700
      mètres, 13 km et 28 km de : Atlantica Parc Aquatique, Golf Tazegzout et Le port d'Agadir. L’établissement propose
      une réception ouverte 24h/24, des transferts aéroport, un service d'étage et une connexion Wi-Fi gratuite dans
      l’ensemble de ses locaux.

      Tous les hébergements proposent une armoire. Les hébergements sont pourvus d'un bidet, et certains comportent
      également un coin salon.

      L’établissement Pearl Surf Camp Morocco sert un petit-déjeuner continental ou halal.

      Vous séjournerez à respectivement 29 km et 30 km de ces lieux d’intérêt : Marina d'Agadir et Agadir Oufella Ruins.
      L'aéroport le plus proche (Aéroport d'Agadir-Al Massira) est à 50 km.
    </div>

    <div class="appartement-details">
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de la Maison</h3>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong> Chambres :</strong> Chambre Double ou Lits Jumeaux avec
          Salle de Bain Privative</p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong> Salles de bain :</strong> Salle de bain privative
          (douche,
          sèche-cheveux, articles de toilette)</p>
        <p><i class="fa-solid fa-water-ladder icon-large"></i> Piscine intérieure – ouverte toute l’année</p>
        <p><i class="fa-solid fa-utensils icon-large"></i> Restaurant sur place (options végétariennes, halal et sans
          lactose disponibles)</p>
        <p><i class="fa-solid fa-umbrella-beach icon-large"></i> <strong> Terrasse :</strong> Oui</p>
        <p><i class="fa-solid fa-mountain-sun icon-large"></i> <strong> Vue :</strong> Sur la montagne</p>
        <p><i class="fa-solid fa-people-group icon-large"></i> <strong> Capacité :</strong> 2 adultes par chambre et 1
          enfant</p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong> Prix :</strong> À partir de 1 330 000 MAD /
          nuit
        </p>
        <p><i class="fa-solid fa-tag icon-large"></i> <strong> Référence :</strong> RDS2025</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Équipements & Services</h3>
        <ul>
          <li><i class="fa-solid fa-wifi icon-large"></i> Connexion Wi-Fi gratuite dans tout l’établissement</li>

          <li><i class="fa-solid fa-square-parking icon-large"></i> Parking gratuit à proximité (sans réservation)</li>
          <li><i class="fa-solid fa-mug-saucer icon-large"></i> Plateau/bouilloire dans tous les hébergements</li>
          <li><i class="fa-solid fa-house-chimney-window icon-large"></i> Terrasse, patio et mobilier d’extérieur</li>
          <li><i class="fa-solid fa-shirt icon-large"></i> Lave-linge et sèche-linge à disposition</li>
          <li><i class="fa-solid fa-gamepad icon-large"></i> Jeux de société, soirées film et animations en soirée</li>
          <li><i class="fa-solid fa-wheelchair icon-large"></i> Accessible en fauteuil roulant – entièrement au
            rez-de-chaussée</li>
          <li><i class="fa-solid fa-temperature-high icon-large"></i> Chauffage et ventilateur</li>
          <li><i class="fa-solid fa-lock icon-large"></i> Coffre-fort dans l'hébergement</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-map-location-dot icon-large"></i> Loisirs à proximité</h3>
        <ul>
          <li><i class="fa-solid fa-person-hiking icon-large"></i> Balades à pied, visites à vélo</li>
          <li><i class="fa-solid fa-utensils icon-large"></i> Dîners à thème et cours de cuisine (en supplément)</li>
          <li><i class="fa-solid fa-spa icon-large"></i> Bien-être : parasols, chaises longues, détente au bord de la
            piscine</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-shield-halved icon-large"></i> Règlement de l’établissement</h3>
        <ul>
          <li><i class="fa-solid fa-child icon-large"></i> Tous les enfants sont les bienvenus</li>
          <li><i class="fa-solid fa-baby icon-large"></i> Lit bébé gratuit sur demande (0-6 ans, sous réserve de
            disponibilité)</li>
          <li><i class="fa-solid fa-ban icon-large"></i> Aucun lit d’appoint disponible</li>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Établissement non-fumeurs</li>
          <li><i class="fa-solid fa-dog icon-large"></i> Animaux non admis</li>
          <li><i class="fa-solid fa-moon icon-large"></i> Heures silencieuses : 23h00 à 07h00</li>
          <li><i class="fa-solid fa-id-card icon-large"></i> Aucune restriction d’âge pour l’enregistrement</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
        <ul>
          <li>Arabe, Allemand, Anglais, Français</li>
        </ul>
      </div>
    </div>

    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>




    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3434.676966778509!2d-9.759704824587383!3d30.586663274655002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb253000008544b%3A0x680390f26c0d6997!2sPearl%20Surf%20Camp%20Morocco!5e0!3m2!1sfr!2sma!4v1750023637454!5m2!1sfr!2sma"
          width="500px" height="460px" style="border:0;" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>


  </main>



  <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>

</html>