<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TIGMINO</title>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
    <div class="hero2">
        <header>
            <a href="/Accueil">
                <img src="../static/TG.png" alt="TG Logo">
            </a>
            <nav>
                <a href="/Accueil">ACCUEIL</a>

                <div class="dropdown-locations">
                    <a href="#">LOCATIONS</a>
                    <div class="dropdown-locations-content">
                        <a href="/locations/journaliere">Locations journaliére</a>
                        <a href="/locations/longue-duree">Locations longue durée</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="#">ACHATS-VENTES</a>
                    <div class="dropdown-content">
                        <a href="/ACHATS-VENTES/Appartements">Appartements</a>
                        <a href="/ACHATS-VENTES/Maisons">Maisons</a>
                        <a href="/ACHATS-VENTES/Villas">Villas</a>
                    </div>
                </div>

                <a href="/Contact">CONTACT</a>
                <a href="/Site">SITE</a>

            </nav>
        </header>

        <div class="auth">
            {% if not session.username %}
            <button onclick="showLoginForm()">Connexion</button>
            <button onclick="showRegisterForm()">S'inscrire</button>
            {% else %}
            <div class="user-info">
                <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}"
                    alt="Profil">
                <span class="username">{{ session.username }}</span>
            </div>
            <a class="account-link" href="/account"> Mon Compte ⚙️</a>
            <a href="/logout" class="logout">Se déconnecter</a>
            {% endif %}
        </div>

        <div id="loginModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="hideLoginForm()">&times;</span>
                <form action="/login" method="POST">
                    <h2>Connexion</h2>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Mot de passe" required>
                    <button href="home.html" type="submit">Se connecter</button>
                </form>
            </div>
        </div>





        {% set flash_messages = get_flashed_messages() %}

        <!-- Lightbox version -->
        {% if flash_messages %}
        <div class="lightbox" id="lightbox">
            <div class="lightbox-content">
                {% for message in flash_messages %}
                <p>{{ message }}</p>
                {% endfor %}
                <button onclick="closeLightbox()">OK</button>
            </div>
        </div>
        {% endif %}


        <!-- Register Modal -->
        <div id="registerModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="hideRegisterForm()">&times;</span>
                <form action="/register" method="POST">
                    <h2>Créer un compte</h2>
                    <input type="text" name="username" placeholder="Nom d'utilisateur" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Mot de passe" required>
                    <button href="home.html" type="submit">S'inscrire</button>
                    {% if session['user'] in users %}
                    <span class="username">{{ users[session['user']]['username'] }}</span>
                    {% else %}
                    <span class="username">(utilisateur inconnu)</span>
                    {% endif %}
                </form>
            </div>
        </div>

    </div>




    <main class="appartement-fiche">
        <h1 class="appartement-titre">Atlantic Palm Beach-Agadir</h1>
        <div class="appartement-meta">Location d'Appartement pour 2 adultes et 4 enfants </div>
        <p class="PRICEMAD"><strong> Prix : 18 957 MAD / jours </strong></p>
        <!-- Main image -->
        <div class="appartement-group">
            <div class="photo-viewer">
                <img id="mainImage" src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo1.jpg"
                    alt="Image principale">

                <div class="left-line"></div>
                <div class="right-line"></div>
            </div>

            <!-- Thumbnail gallery -->
            <div class="appartement-galerie">
                <div>
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo1.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo2.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo3.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo4.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo5.jpg"
                        onclick="switchPhoto(this)">
                </div>
                <div>
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo6.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo7.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo8.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo9.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo10.jpg"
                        onclick="switchPhoto(this)">
                </div>
                <div>
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo11.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo12.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo13.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo14.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo15.jpg"
                        onclick="switchPhoto(this)">
                </div>
                <div>
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo16.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo17.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo18.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo19.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo20.jpg"
                        onclick="switchPhoto(this)">
                </div>
                <div>
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo21.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo22.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo23.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo24.jpg"
                        onclick="switchPhoto(this)">
                    <img src="/static/JournaliereAppartements1/Atlantic Palm Beach-photo25.jpg"
                        onclick="switchPhoto(this)">
                </div>
            </div>
        </div>
        <div class="appartement-description">
            Doté d'une piscine extérieure, l'Atlantic Palm Beach propose des hébergements indépendants et une connexion
            Wi-Fi gratuite.

            Tous les logements sont climatisés et offrent une vue sur la mer ou la piscine. Un coffre-fort y est
            disponible moyennant des frais supplémentaires.

            L'Atlantic Palm Beach possède également un restaurant et un salon commun. Il assure par ailleurs des
            services de livraison de courses et de nettoyage à sec.

            Enfin, l'aéroport Al Massira d'Agadir est implanté à 19 km.
        </div>
        <div class="appartement-details">
            <!-- Détails de l'Appartement -->
            <div>
                <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de l'Appartement</h3>

                <p><i class="fa-solid fa-bed icon-large"></i> <strong>Literie :</strong><br>
                    • Chambre 1 : 1 lit double<br>
                    • Chambre 2 : 2 lits simples<br>
                    • Salon : 3 canapés-lits<br><br>

                    • Chambre 1 : 1 lit double<br>
                    • Salon : 3 canapés-lits<br><br>

                    • Chambre 1 : 2 lits simples<br>
                    • Salon : 2 canapés-lits<br><br>

                    • Chambre 1 : 2 lits simples<br>
                    • Salon : 2 canapés-lits<br><br>

                    • Chambre 1 : 1 lit simple<br>
                    • Salon : 2 canapés-lits<br>

                    • Lit bébé gratuit disponible à la demande
                </p>

                <p><i class="fa-solid fa-people-group icon-large"></i> <strong>Idéal pour :</strong> Séjour en famille
                </p>
                <p><i class="fa-solid fa-snowflake icon-large"></i> <strong>Climatisation :</strong> Oui</p>
                <p><i class="fa-solid fa-square-parking icon-large"></i> <strong>Parking :</strong> Gratuit sur place et
                    dans la rue (sans réservation)</p>
                <p><i class="fa-solid fa-wifi icon-large"></i> <strong>Wi-Fi :</strong> Gratuit dans tout
                    l’établissement</p>
                <p><i class="fa-solid fa-bath icon-large"></i> <strong>Salle de bains :</strong> Privative avec douche,
                    serviettes, articles de toilette gratuits</p>
                <p><i class="fa-solid fa-tv icon-large"></i> <strong>Télévision :</strong> Écran plat avec chaînes</p>
                <p><i class="fa-solid fa-mountain-sun icon-large"></i> <strong>Balcon :</strong> Oui</p>
                <p><i class="fa-solid fa-utensils icon-large"></i> <strong>Restaurant & Service d'étage :</strong>
                    Disponible</p>
            </div>
            <div>
                <h3><i class="fa-solid fa-kitchen-set icon-large"></i> Cuisine</h3>
                <ul>
                    <li>Plaque de cuisson, ustensiles de cuisine</li>
                    <li>Micro-ondes, réfrigérateur</li>
                    <li>Armoire ou penderie</li>
                </ul>
            </div>
            <div>
                <h3><i class="fa-solid fa-water-ladder icon-large"></i> Piscine extérieure</h3>
                <ul>
                    <li>Gratuite, ouverte toute l’année</li>
                    <li>Serviettes, chaises longues et parasols disponibles</li>
                </ul>
            </div>
            <div>
                <h3><i class="fa-solid fa-baby icon-large"></i> Enfants et lits</h3>
                <ul>
                    <li>Tous les enfants sont les bienvenus</li>
                    <li>0 - 2 ans : lit bébé gratuit sur demande</li>
                    <li>Plus de 5 ans : lit d’appoint à 10 €/nuit</li>
                    <li>Lits bébé/lits d’appoint selon disponibilité</li>
                </ul>
            </div>
            <div>
                <h3><i class="fa-solid fa-ban-smoking icon-large"></i> Règles de l’établissement</h3>
                <ul>
                    <li>Non-fumeurs</li>
                    <li>Heures silencieuses : 23h00 à 08h00</li>
                    <li>Animaux non admis</li>
                    <li>Âge minimum pour s'enregistrer : 18 ans</li>
                </ul>
            </div>
            <div>
                <h3><i class="fa-solid fa-shield-halved icon-large"></i> Sécurité</h3>
                <ul>
                    <li>Caméras de surveillance dans les parties communes</li>
                    <li>Détecteurs de fumée, extincteurs</li>
                    <li>Sécurité 24h/24</li>
                </ul>
            </div>
            <div>
                <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
                <ul>
                    <li>Arabe, Allemand, Anglais, Espagnol, Français</li>
                </ul>
            </div>
            <div>
                <h3><i class="fa-solid fa-broom icon-large"></i> Services de nettoyage</h3>
                <ul>
                    <li>Service de ménage quotidien</li>
                    <li>Blanchisserie/laverie, repassage, nettoyage à sec (en supplément)</li>
                </ul>
            </div>
            <div>
                <h3><i class="fa-solid fa-briefcase icon-large"></i> Services d'affaires</h3>
                <ul>
                    <li>Fax/photocopies, salles de réunion/réception (en supplément)</li>
                </ul>
            </div>
        </div>



        <div class="appartement-contact">
            Intéressé par ce bien ? <br>
            Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
                18</strong> pour plus d'informations ou programmer une visite.
        </div>





        <div class="CONTACTMAP">
            <!-- Contact Form -->
            <div class="tigmino-contact">
                <form id="settings-form" method="POST" action="/Réglages">
                    <h2>Ajouter une demande</h2>

                    <label>Nom · Prénom</label>
                    <input type="text" name="name" placeholder="Nom · Prénom" required>

                    <label>Téléphone</label>
                    <input type="text" name="phone" placeholder="Téléphone" required>

                    <label>Message</label>
                    <textarea name="message" required></textarea>

                    {% if not session.username %}
                    <h2>Connectez-vous au TIGMINO</h2>
                    {% else %}
                    <button class="save-btn" type="submit">SAUVEGARDER</button>
                    {% endif %}
                </form>
            </div>

            <!-- Map -->
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.2222970453854!2d-9.593565924594893!3d30.40143427474569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb3b7008b5b1d7b%3A0x88834b299f22c5eb!2sAtlantic%20Palm%20Beach%20Apart&#39;Hotel!5e0!3m2!1sfr!2sma!4v1750040092023!5m2!1sfr!2sma"
                    width="500px" height="460px" style="border:0;" allowfullscreen loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>



    </main>



    <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>
</html>