<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
      <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>




  <main class="appartement-fiche">
    <h1 class="appartement-titre">Panorama Guesthouse-Agadir</h1>
    <div class="appartement-meta">Location de Maison pour 2 adultes et 4 enfants</div>
    <p class="PRICEMAD"><strong> Prix : 33 701 MAD / jours </strong></p>
    <!-- Main image -->
    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/JournaliereMaisons1/Panorama Guesthouse-photo1.jpg" alt="Image principale">

        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>

      <!-- Thumbnail gallery -->
      <div class="appartement-galerie">
        <div>
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo16.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo17.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo18.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo19.jpg" onclick="switchPhoto(this)">
          <img src="/static/JournaliereMaisons1/Panorama Guesthouse-photo20.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      Situé à Agadir, l’établissement Panorama Guesthouse possède un jardin, un salon commun, une terrasse et une
      connexion Wi-Fi gratuite dans l’ensemble de ses locaux. Il vous accueille à respectivement 1,4 km, 3,3 km et 13 km
      de : Plage de Taghazout, Golf Tazegzout et Le port d'Agadir. Cette maison d'hôtes comprend une piscine intérieure
      et une cuisine commune.

      Les hébergements comportent un balcon offrant une vue sur la mer. Certains hébergements possèdent une cuisine
      équipée d’un réfrigérateur et d’une plaque de cuisson. Des serviettes et du linge de lit sont fournis.

      Un petit-déjeuner buffet, végétarien ou végétalien est servi sur place.

      La région est prisée des amateurs de vélo et l’établissement Panorama Guesthouse assure des services de location
      de vélos et de location de voitures.

      Vous séjournerez à respectivement 15 km et 16 km de ces lieux d’intérêt : Atlantica Parc Aquatique et Marina
      d'Agadir. L'aéroport le plus proche (Aéroport d'Agadir-Al Massira) est à 36 km. Un service de navette aéroport
      payant peut être assuré par l’établissement.
    </div>
    <div class="appartement-details">
      <!-- Détails de l'Appartement -->
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de l'Appartement</h3>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong>Choix de literie :</strong><br>
          • 1 lit double<br>
          • ou 2 lits simples et 1 lit double (selon disponibilité)
        </p>
        <p><i class="fa-solid fa-people-group icon-large"></i> <strong>Chambres :</strong> Familiales et insonorisées
        </p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong>Salle de bain :</strong><br>
          Douche ou baignoire, serviettes, papier toilette, bidet, linge de maison.<br>
          ⚠️ Linge de lit disponible (frais supplémentaires)
        </p>
        <p><i class="fa-solid fa-eye icon-large"></i> <strong>Vue :</strong><br>
          Cour intérieure, montagne, piscine, jardin, mer
        </p>
        <p><i class="fa-solid fa-tree icon-large"></i> <strong>Extérieur :</strong><br>
          Jardin, terrasse, balcon, patio, mobilier d’extérieur, espace repas, aire de pique-nique, barbecue
          (supplément)
        </p>
        <p><i class="fa-solid fa-kitchen-set icon-large"></i> <strong>Cuisine :</strong><br>
          Cuisine commune, plaque de cuisson, réfrigérateur
        </p>
        <p><i class="fa-solid fa-dog icon-large"></i> <strong>Animaux :</strong> Acceptés sur demande (supplément
          possible)</p>
        <p><i class="fa-solid fa-wifi icon-large"></i> <strong>Wi-Fi :</strong> Gratuit dans tout l’établissement</p>
        <p><i class="fa-solid fa-square-parking icon-large"></i> <strong>Parking :</strong> Gratuit à proximité (sans
          réservation)</p>
      </div>

      <!-- Équipements & Services -->
      <div>
        <h3><i class="fa-solid fa-screwdriver-wrench icon-large"></i> <strong>Équipements & Services</strong></h3>
        <ul>
          <li><i class="fa-solid fa-water-ladder icon-large"></i> Piscine intérieure (ouverte toute l’année)</li>
          <li><i class="fa-solid fa-sun icon-large"></i> Chaises longues ou de plage</li>
          <li><i class="fa-solid fa-temperature-high icon-large"></i> Climatisation & chauffage</li>
          <li><i class="fa-solid fa-tv icon-large"></i> Salon commun/salle de télévision</li>
          <li><i class="fa-solid fa-broom icon-large"></i> Ménage quotidien (en supplément)</li>
          <li><i class="fa-solid fa-soap icon-large"></i> Blanchisserie/laverie (en supplément)</li>
          <li><i class="fa-solid fa-shield-halved icon-large"></i> Sécurité : extincteurs</li>
          <li><i class="fa-solid fa-stairs icon-large"></i> Étages accessibles uniquement par escalier</li>
          <li><i class="fa-solid fa-ban-smoking icon-large"></i> Établissement non-fumeurs</li>
          <li><i class="fa-solid fa-ban icon-large"></i> Fêtes et événements interdits</li>
        </ul>
      </div>

      <!-- Loisirs & Activités -->
      <div>
        <h3><i class="fa-solid fa-map-location-dot icon-large"></i> Activités à proximité</h3>
        <ul>
          <li><i class="fa-solid fa-bicycle icon-large"></i> Location de vélos (en supplément)</li>
          <li><i class="fa-solid fa-horse icon-large"></i> Équitation (hors site, supplément)</li>
          <li><i class="fa-solid fa-person-walking icon-large"></i> Cyclisme (hors site)</li>
          <li><i class="fa-solid fa-fish icon-large"></i> Pêche (hors site, supplément)</li>
          <li><i class="fa-solid fa-golf-ball-tee icon-large"></i> Golf à moins de 3 km (supplément)</li>
          <li><i class="fa-solid fa-umbrella-beach icon-large"></i> Plage à proximité</li>
          <li><i class="fa-solid fa-spa icon-large"></i> Cours de yoga</li>
        </ul>
      </div>

      <!-- Services -->
      <div>
        <h3><i class="fa-solid fa-bell-concierge icon-large"></i> Services</h3>
        <ul>
          <li><i class="fa-solid fa-receipt icon-large"></i> Facture sur demande</li>
          <li><i class="fa-solid fa-door-open icon-large"></i> Enregistrement / départ privé</li>
          <li><i class="fa-solid fa-briefcase icon-large"></i> Bagagerie</li>
          <li><i class="fa-solid fa-car-side icon-large"></i> Location de voitures</li>
          <li><i class="fa-solid fa-shuttle-van icon-large"></i> Navette aéroport (en supplément)</li>
          <li><i class="fa-solid fa-shuttle-van icon-large"></i> Service de navette (en supplément)</li>
          <li><i class="fa-solid fa-concierge-bell icon-large"></i> Service d’étage</li>
        </ul>
      </div>

      <!-- Conditions Enfants -->
      <div>
        <h3><i class="fa-solid fa-child icon-large"></i> Enfants et Lits</h3>
        <ul>
          <li>Tous les enfants sont les bienvenus</li>
          <li>Aucun lit bébé ou lit d’appoint disponible</li>
          <li>Aucune restriction d’âge pour l’enregistrement</li>
        </ul>
      </div>

      <!-- Langues parlées -->
      <div>
        <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
        <ul>
          <li>Arabe, Anglais, Français</li>
        </ul>
      </div>

    </div>


    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>





    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3437.122147801309!2d-9.679288924590173!3d30.517584974688774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb3b320cfb9a4eb%3A0x8ae523617ea877cf!2sPanorama%20Guesthouse!5e0!3m2!1sfr!2sma!4v1750041856817!5m2!1sfr!2sma"
          width="500px" height="460px" style="border:0;" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>



  </main>



  <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>
</html>