<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>


  <main class="appartement-fiche">
    <h1 class="appartement-titre">Luxurious Sea-View 2Br Appartement-Agadir</h1>
    <div class="appartement-meta">Appartement à vendre</div>
    <p class="PRICEMAD"><strong> Prix :</strong> 1 450 000 MAD</p>

    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo1.jpg" alt="Image principale">

        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>
      <div class="appartement-galerie">
        <div>
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo16.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo17.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo18.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo19.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements4-images/Luxurious Sea-View 2Br-photo20.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      Les réductions Genius proposées par cet établissement dépendent des dates de réservation, des dates de séjour et
      des autres offres disponibles.

      Situé dans le centre de Agadir, l’hébergement Luxurious Sea-View 2Br Apartment comprend une piscine extérieure,
      un
      jardin, une connexion Wi-Fi gratuite et un parking privé gratuit. Offrant une vue sur la ville et sur la mer,
      cet
      hébergement est installé à 600 mètres de : Plage d’Agadir.

      Cet appartement avec climatisation comporte 2 chambres, une télévision à écran plat par satellite, ainsi qu’une
      cuisine avec un réfrigérateur et un lave-vaisselle. Des serviettes et du linge de lit sont disponibles.

      Parlant arabe, anglais, espagnol et français, le personnel de la réception se fera un plaisir de vous fournir
      des
      conseils pratiques sur la région.

      Cet établissement dispose d’une terrasse.

      Vous séjournerez à respectivement 3 km et 3,9 km de ces lieux d’intérêt : Musee du Patrimoine Amazigh d'Agadir
      et
      Medina Polizzi. L'aéroport le plus proche (Aéroport d'Agadir-Al Massira) est à 19 km.
    </div>

    <div class="appartement-details">
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de l'Appartement</h3>
        <p><i class="fa-solid fa-ruler-combined icon-large"></i> <strong>Surface :</strong> Estimée à 90–100 m²</p>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong>Chambres :</strong> 2</p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong>Salles de bain :</strong> 1</p>
        <p><i class="fa-solid fa-umbrella-beach icon-large"></i> <strong>Balcon / Terrasse :</strong> Oui</p>
        <p><i class="fa-solid fa-mountain-sun icon-large"></i> <strong>Vue :</strong> Ville, mer, montagne et jardin
        </p>
        <p><i class="fa-solid fa-people-roof icon-large"></i> <strong>Capacité :</strong> 5 adultes + 4 enfants</p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong>Prix :</strong> à partir de 1 450 000 MAD
        </p>
        <p><i class="fa-solid fa-hashtag icon-large"></i> <strong>Référence :</strong> TG1004</p>

        <p><i class="fa-solid fa-location-dot icon-large"></i> <strong>Situation :</strong> À 600 m de la plage
          d’Agadir,
          3 km du Musée du Patrimoine Amazigh, 3.9 km de la Médina Polizzi. Aéroport à 19 km.</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-door-open icon-large"></i> Agencement</h3>
        <ul>
          <li><i class="fa-solid fa-bed icon-large"></i> Chambre 1 : 1 très grand lit double</li>
          <li><i class="fa-solid fa-bed icon-large"></i> Chambre 2 : 1 grand lit double</li>
          <li><i class="fa-solid fa-couch icon-large"></i> Salon : 1 canapé-lit</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-star icon-large"></i> Points forts</h3>
        <ul>
          <li><i class="fa-solid fa-person-swimming icon-large"></i> 2 piscines extérieures toute l’année</li>
          <li><i class="fa-solid fa-water icon-large"></i> Piscine à débordement + piscine enfants</li>
          <li><i class="fa-solid fa-wifi icon-large"></i> Wi-Fi haut débit gratuit (89 Mb/s)</li>
          <li><i class="fa-solid fa-square-parking icon-large"></i> Parking privé gratuit</li>
          <li><i class="fa-solid fa-mountain-city icon-large"></i> Vue mer, montagne, ville et jardin</li>
          <li><i class="fa-solid fa-bell-concierge icon-large"></i> Réception 24h/24</li>
          <li><i class="fa-solid fa-tree icon-large"></i> Terrasse, barbecue, jardin</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-screwdriver-wrench icon-large"></i> Équipements</h3>
        <ul>
          <li><i class="fa-solid fa-temperature-high icon-large"></i> Climatisation & chauffage</li>
          <li><i class="fa-solid fa-mug-saucer icon-large"></i> Machine à café, four, grille-pain</li>
          <li><i class="fa-solid fa-sink icon-large"></i> Réfrigérateur, lave-linge, lave-vaisselle</li>
          <li><i class="fa-solid fa-tv icon-large"></i> TV écran plat avec chaînes satellite</li>
          <li><i class="fa-solid fa-lock icon-large"></i> Fer à repasser, entrée privée, coffre-fort</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-spa icon-large"></i> Services & bien-être</h3>
        <ul>
          <li><i class="fa-solid fa-chair icon-large"></i> Chaises longues, parasols</li>
          <li><i class="fa-solid fa-hot-tub-person icon-large"></i> Bain en plein air</li>
          <li><i class="fa-solid fa-truck icon-large"></i> Livraison de courses (supplément)</li>
          <li><i class="fa-solid fa-concierge-bell icon-large"></i> Concierge + enregistrement privé</li>
          <li><i class="fa-solid fa-broom icon-large"></i> Ménage quotidien (supplément)</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-bicycle icon-large"></i> Activités à proximité</h3>
        <ul>
          <li><i class="fa-solid fa-person-hiking icon-large"></i> Balades à pied, vélo (supplément)</li>
          <li><i class="fa-solid fa-water icon-large"></i> Canoë-kayak (extérieur)</li>
          <li><i class="fa-solid fa-utensils icon-large"></i> Cours de cuisine (supplément)</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-scale-balanced icon-large"></i> Conditions générales</h3>
        <ul>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Appartement non-fumeur</li>
          <li><i class="fa-solid fa-dog icon-large"></i> Animaux non précisés (à confirmer)</li>
          <li><i class="fa-solid fa-language icon-large"></i> Langues parlées : Arabe, Français, Anglais, Espagnol
          </li>
          <li><i class="fa-solid fa-shield-halved icon-large"></i> Sécurité 24h/24, caméras, extincteurs</li>
        </ul>
      </div>
    </div>

    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>



    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55061.96098129502!2d-9.58791557545954!3d30.397169905479345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb3b7832e732823%3A0xe346abc9587c6bc1!2sAgadir%20Luxury%20Appartement!5e0!3m2!1sfr!2sma!4v1750010501930!5m2!1sfr!2sma"
          width="500" height="460" style="border:0;" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
    </div>



  </main>




  <script src="../../static/Script.js"></script>


</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>

</html>