<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>




  <main class="appartement-fiche">
    <h1 class="appartement-titre">Marina Apartment Agadir</h1>
    <div class="appartement-meta">Appartement à vendre </div>
    <p class="PRICEMAD"><strong> Prix :</strong> 1 450 000 MAD</p>
    <!-- Main image -->
    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Appartements1-images/Agadir-photo1.jpg" alt="Image principale">

        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>

      <!-- Thumbnail gallery -->
      <div class="appartement-galerie">
        <div>
          <img src="/static/Appartements1-images/Agadir-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements1-images/Agadir-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements1-images/Agadir-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements1-images/Agadir-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements1-images/Agadir-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements1-images/Agadir-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements1-images/Agadir-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements1-images/Agadir-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements1-images/Agadir-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements1-images/Agadir-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements1-images/Agadir-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements1-images/Agadir-photo12.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      Situé dans le centre de Agadir, l’hébergement Marina Apartment Agadir comprend une piscine extérieure, un
      jardin,
      une connexion Wi-Fi gratuite et un parking privé gratuit. Situé en bord de mer, cet hébergement possède une
      terrasse, un bar et un casino.

      Cet appartement avec climatisation se compose de 2 chambres, d'un salon, d'une cuisine entièrement équipée avec
      un
      réfrigérateur et une bouilloire, ainsi que de 1 salle de bains avec une douche et un sèche-cheveux. Des
      serviettes
      et du linge de lit sont à disposition.

      Lors de votre séjour, vous pourrez nager dans la piscine intérieure, et pratiquer la randonnée et la pêche.

      Vous séjournerez à proximité de ces lieux d’intérêt : Plage d’Agadir, Marina d'Agadir et Agadir Oufella Ruins.
      L'aéroport le plus proche (Aéroport d'Agadir-Al Massira) est à 22 km.
    </div>
    <div class="appartement-details">
      <!-- Détails de l'Appartement -->
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de l'Appartement</h3>
        <p><i class="fa-solid fa-ruler-combined icon-large"></i> <strong>Surface :</strong> Environ 90 m²</p>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong>Chambres :</strong> 2</p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong>Salles de bain :</strong> 1</p>
        <p><i class="fa-solid fa-umbrella-beach icon-large"></i> <strong>Terrasse :</strong> Oui</p>
        <p><i class="fa-solid fa-mountain-sun icon-large"></i> <strong>Vue :</strong> Sur la marina, la montagne et les
          sites d’intérêt</p>
        <p><i class="fa-solid fa-people-group icon-large"></i> <strong>Capacité :</strong> Jusqu’à 5 personnes</p>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong>Literie :</strong><br>
          • Chambre 1 : 1 grand lit double<br>
          • Chambre 2 : 1 lit simple + 1 lit superposé<br>
          • Salon : 3 canapés-lits
        </p>
        <p><i class="fa-solid fa-dog icon-large"></i> <strong>Animaux :</strong> Acceptés gratuitement sur demande</p>
        <p><i class="fa-solid fa-child icon-large"></i> <strong>Enfants :</strong><br>
          Tous les enfants sont les bienvenus.<br>
          • 0 – 1 an : lit bébé ou lit d’appoint gratuit<br>
          • 2 – 4 ans : lit d’appoint gratuit<br>
          ⚠️ Les enfants de plus de 13 ans comptent comme adultes.
        </p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong>Prix :</strong> 1 450 000 MAD</p>
        <p><i class="fa-solid fa-tag icon-large"></i> <strong>Référence :</strong> TG1001</p>
      </div>

      <!-- Équipements & Services -->
      <div>
        <h3><i class="fa-solid fa-screwdriver-wrench icon-large"></i> <strong>Équipements & Services</strong></h3>
        <ul>
          <li><i class="fa-solid fa-water-ladder icon-large"></i> 2 piscines (intérieure & extérieure – accès gratuit)
          </li>
          <li><i class="fa-solid fa-wifi icon-large"></i> Wi-Fi gratuit dans tout l’appartement</li>
          <li><i class="fa-solid fa-temperature-high icon-large"></i> Climatisation & chauffage</li>
          <li><i class="fa-solid fa-house-chimney-window icon-large"></i> Terrasse & balcon</li>
          <li><i class="fa-solid fa-square-parking icon-large"></i> Parking privé gratuit + accessible PMR</li>
          <li><i class="fa-solid fa-wheelchair icon-large"></i> Accessible en fauteuil roulant</li>
          <li><i class="fa-solid fa-spa icon-large"></i> Spa, hammam & massages (en supplément)</li>
          <li><i class="fa-solid fa-martini-glass-citrus icon-large"></i> Bar, casino, discothèque, commerces sur place
          </li>
          <li><i class="fa-solid fa-tv icon-large"></i> TV écran plat, lecteur DVD, chaînes satellite</li>
          <li><i class="fa-solid fa-kitchen-set icon-large"></i> Cuisine équipée (four, micro-ondes, plaque, bouilloire,
            grille-pain, lave-linge)</li>
          <li><i class="fa-solid fa-chair icon-large"></i> Mobilier extérieur, aire de pique-nique, jardin</li>
          <li><i class="fa-solid fa-shower icon-large"></i> Salle de bains complète avec douche, sèche-cheveux,
            serviettes & linge de lit</li>
          <li><i class="fa-solid fa-baby icon-large"></i> Matériel pour enfants : chaise haute, lit bébé, etc.</li>
        </ul>
      </div>

      <!-- Loisirs à proximité -->
      <div>
        <h3><i class="fa-solid fa-map-location-dot icon-large"></i>Loisirs à proximité</h3>
        <ul>
          <li><i class="fa-solid fa-umbrella-beach icon-large"></i> Plage d’Agadir (à 5 minutes)</li>
          <li><i class="fa-solid fa-anchor icon-large"></i> Marina d’Agadir</li>
          <li><i class="fa-solid fa-person-hiking icon-large"></i> Randonnée, cyclisme, équitation</li>
          <li><i class="fa-solid fa-water icon-large"></i> Sports nautiques (en supplément)</li>
          <li><i class="fa-solid fa-golf-ball-tee icon-large"></i> Golf à moins de 3 km</li>
          <li><i class="fa-solid fa-fish icon-large"></i> Pêche, planche à voile</li>
        </ul>
      </div>
    </div>


    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>





    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Messageé">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3440.4462793728267!2d-9.620102874593998!3d30.423448374735024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb3b7e10430e3ed%3A0x425de66d292885e9!2sMarina%20Agadir%20Morocco!5e0!3m2!1sfr!2sma!4v1750008014444!5m2!1sfr!2sma"
          width="500px" height="460px" style="border: 20px;" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>



  </main>



  <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>

</html>