<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>







  <main class="appartement-fiche">
    <h1 class="appartement-titre">Rabat Agdal Pearl Appartement</h1>
    <div class="appartement-meta">Appartement à vendre</div>
    <p class="PRICEMAD"><strong> Prix :</strong> 1 300 000 MAD</p>

    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Appartements10-images/Rabat Agdal Pearl-photo1.jpg" alt="Image principale">
        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>

      <div class="appartement-galerie">
        <div>
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo16.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo17.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo18.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo19.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo20.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo21.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo22.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo23.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo24.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo25.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements10-images/Rabat Agdal Pearl-photo26.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      L’hébergement Rabat Agdal Pearl - Luxuriously Spacious & Well located se situe à Rabat, à respectivement 700
      mètres et 1,2 km de ces lieux d’intérêt : Ministry of Higher Education, Scientific Research and Executive
      Training et Ministry of Equipment, Transportation and Logistics. Il met à votre disposition une connexion
      Wi-Fi gratuite et offre une vue sur la ville. Cet hébergement est installé à 3,1 km de : Bibliothèque
      nationale du Royaume du Maroc. Il possède une terrasse et un parking privé gratuit.

      Cet appartement avec climatisation se compose de 2 chambres, d'un salon, d'une cuisine entièrement équipée
      avec un réfrigérateur et une machine à café, ainsi que de 2 salles de bains avec un bidet et une douche. Des
      serviettes et du linge de lit sont mis à votre disposition.

      Un petit-déjeuner buffet est servi sur place.

      Vous séjournerez à respectivement 4,8 km et 5 km de ces lieux d’intérêt : Tour Hassan et Kasbah des Oudayas.
      L’établissement se situe à 13 km de l’aéroport le plus proche (Aéroport international Rabat-Salé) et propose
      un service de navette aéroport payant.
    </div>

    <div class="appartement-details">
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de l'Appartement</h3>
        <p><i class="fa-solid fa-ruler-combined icon-large"></i> <strong>Surface :</strong> Entre 60 m² et 100 m²
        </p>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong>Chambres :</strong> Jusqu’à 2 chambres</p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong>Salles de bain :</strong> 1 salle de bain (avec bidet
          et douche)</p>
        <p><i class="fa-solid fa-umbrella-beach icon-large"></i> <strong>Balcon / Terrasse :</strong> Oui</p>
        <p><i class="fa-solid fa-eye icon-large"></i> <strong>Vue :</strong> Ville ou patio</p>
        <p><i class="fa-solid fa-user-group icon-large"></i> <strong>Capacité :</strong> Jusqu’à 4 adultes et 3 enfants
        </p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong>Prix :</strong> à partir de 1 300 000 MAD
        </p>
        <p><i class="fa-solid fa-hashtag icon-large"></i> <strong>Référence :</strong> TG1009</p>

        <p><i class="fa-solid fa-location-dot icon-large"></i> <strong>Situation :</strong> Centre-ville de
          Casablanca, proche mosquée Hassan II, cathédrale, parc et gare Casa-Port. Aéroport Mohammed V à 28 km.
        </p>
      </div>
      <div>
        <h3><i class="fa-solid fa-building icon-large"></i> Types d'hébergements</h3>
        <ul>
          <li><i class="fa-solid fa-house icon-large"></i> Appartement avec balcon : 2 chambres + salon
            (canapé-lit)</li>
          <li><i class="fa-solid fa-hotel icon-large"></i> Appartement Deluxe : 2 chambres</li>
          <li><i class="fa-solid fa-bed icon-large"></i> Studio avec terrasse : 1 très grand lit double</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-star icon-large"></i> Points forts</h3>
        <ul>
          <li><i class="fa-solid fa-wifi icon-large"></i> Wi-Fi gratuit</li>
          <li><i class="fa-solid fa-square-parking icon-large"></i> Parking (20 MAD/jour)</li>
          <li><i class="fa-solid fa-mug-saucer icon-large"></i> Petit-déjeuner en chambre</li>
          <li><i class="fa-solid fa-temperature-high icon-large"></i> Climatisation, chauffage, coffre-fort</li>
          <li><i class="fa-solid fa-dog icon-large"></i> Animaux acceptés (gratuit)</li>
          <li><i class="fa-solid fa-bell-concierge icon-large"></i> Réception 24h/24</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-screwdriver-wrench icon-large"></i> Équipements</h3>
        <ul>
          <li><i class="fa-solid fa-kitchen-set icon-large"></i> Cuisine équipée (four, plaque, frigo, cafetière,
            ustensiles)</li>
          <li><i class="fa-solid fa-tv icon-large"></i> TV écran plat (satellite + Netflix)</li>
          <li><i class="fa-solid fa-couch icon-large"></i> Lave-linge, salon, table à manger, bureau</li>
          <li><i class="fa-solid fa-hair-dryer icon-large"></i> Sèche-cheveux, produits d’accueil, réveil</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-hand-holding-hand icon-large"></i> Services</h3>
        <ul>
          <li><i class="fa-solid fa-shuttle-van icon-large"></i> Navette aéroport (supplément)</li>
          <li><i class="fa-solid fa-car icon-large"></i> Voiturier et bagagerie</li>
          <li><i class="fa-solid fa-bread-slice icon-large"></i> Petit-déjeuner continental ou anglais complet
          </li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-scale-balanced icon-large"></i> Conditions</h3>
        <ul>
          <li><i class="fa-solid fa-child icon-large"></i> Enfants bienvenus</li>
          <li><i class="fa-solid fa-baby icon-large"></i> Lit d’appoint gratuit (0 à 3 ans)</li>
          <li><i class="fa-solid fa-ban icon-large"></i> Pas de lits bébé disponibles</li>
          <li><i class="fa-solid fa-user-check icon-large"></i> Âge minimum d'enregistrement : 18 ans</li>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Non-fumeur</li>
          <li><i class="fa-solid fa-moon icon-large"></i> Heures silencieuses : 23h00 à 9h00</li>
          <li><i class="fa-solid fa-circle-exclamation icon-large"></i> Fêtes interdites</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
        <ul>
          <li><i class="fa-solid fa-comment icon-large"></i> Arabe</li>
          <li><i class="fa-solid fa-comment icon-large"></i> Français</li>
          <li><i class="fa-solid fa-comment icon-large"></i> Anglais</li>
        </ul>
      </div>
    </div>

    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>



    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13230.20420686997!2d-6.881208212841775!3d34.004063599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76d89fd3fcfe3%3A0x3691ee3c5e54075!2sLes%20Perles%20de%20l&#39;Agdal!5e0!3m2!1sfr!2sma!4v1750018954432!5m2!1sfr!2sma"
          width="500px" height="460px" style="border:0;" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        </iframe>
      </div>
    </div>


  </main>



  <script src="../../static/Script.js"></script>

</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>

</html>