<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIGMINO</title>
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/TG.png">
</head>

<body>
  <div class="hero2">
    <header>
      <a href="/Accueil">
        <img src="../static/TG.png" alt="TG Logo">
      </a>
       <nav>
        <a href="/Accueil">ACCUEIL</a>

        <div class="dropdown-locations">
          <a href="#">LOCATIONS</a>
          <div class="dropdown-locations-content">
            <a href="/locations/journaliere">Locations journaliére</a>
            <a href="/locations/longue-duree">Locations longue durée</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="#">ACHATS-VENTES</a>
          <div class="dropdown-content">
            <a href="/ACHATS-VENTES/Appartements">Appartements</a>
            <a href="/ACHATS-VENTES/Maisons">Maisons</a>
            <a href="/ACHATS-VENTES/Villas">Villas</a>
          </div>
        </div>

        <a href="/Contact">CONTACT</a>
        <a href="/Site">SITE</a>

      </nav>
    </header>

    <div class="auth">
      {% if not session.username %}
      <button onclick="showLoginForm()">Connexion</button>
      <button onclick="showRegisterForm()">S'inscrire</button>
      {% else %}
      <div class="user-info">
        <img class="profil1imgae" src="{{ url_for('static', filename='uploads/' ~ session.profile_pic) }}" alt="Profil">
        <span class="username">{{ session.username }}</span>
      </div>
      <a class="account-link" href="/account"> Mon Compte ⚙️</a>
      <a href="/logout" class="logout">Se déconnecter</a>
      {% endif %}
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideLoginForm()">&times;</span>
        <form action="/login" method="POST">
          <h2>Connexion</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">Se connecter</button>
        </form>
      </div>
    </div>





    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>




    {% set flash_messages = get_flashed_messages() %}

    <!-- Lightbox version -->
    {% if flash_messages %}
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        {% for message in flash_messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button onclick="closeLightbox()">OK</button>
      </div>
    </div>
    {% endif %}


    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideRegisterForm()">&times;</span>
        <form action="/register" method="POST">
          <h2>Créer un compte</h2>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Mot de passe" required>
          <button href="home.html" type="submit">S'inscrire</button>
          {% if session['user'] in users %}
          <span class="username">{{ users[session['user']]['username'] }}</span>
          {% else %}
          <span class="username">(utilisateur inconnu)</span>
          {% endif %}
        </form>
      </div>
    </div>

  </div>








  <main class="appartement-fiche">
    <h1 class="appartement-titre">Alma Prestigia Appartment-Marrakech</h1>
    <div class="appartement-meta">Appartement à vendre</div>
    <p class="PRICEMAD"><strong> Prix :</strong> 1 200 000 MAD</p>

    <div class="appartement-group">
      <div class="photo-viewer">
        <img id="mainImage" src="/static/Appartements11-images/Alma Prestigia Appartment-photo1.jpg"
          alt="Image principale">
        <div class="left-line"></div>
        <div class="right-line"></div>
      </div>

      <div class="appartement-galerie">
        <div>
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo1.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo2.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo3.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo4.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo5.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo6.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo7.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo8.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo9.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo10.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo11.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo12.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo13.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo14.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo15.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo16.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo17.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo18.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo19.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo20.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo21.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo22.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo23.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo24.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo25.jpg" onclick="switchPhoto(this)">
        </div>
        <div>
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo26.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo27.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo28.jpg" onclick="switchPhoto(this)">
          <img src="/static/Appartements11-images/Alma Prestigia Appartment-photo29.jpg" onclick="switchPhoto(this)">
        </div>
      </div>
    </div>
    <div class="appartement-description">
      Situé à Marrakech, l’établissement Alma Prestigia Appartments propose une connexion Wi-Fi gratuite, une
      piscine extérieure, un jardin et une terrasse.

      Certains logements sont dotés de la climatisation, d’une télévision à écran plat, d’un lave-linge et d’une
      cuisine avec une machine à café.

      Sur place, vous trouverez un restaurant qui sert des plats américains, des plats belges et des plats
      brésiliens. Des options halal peuvent également être préparées sur demande.

      Un service de location de voitures est disponible sur place.

      Vous séjournerez à respectivement 3,3 km et 4,2 km de ces lieux d’intérêt : Jardins de la Ménara et Place
      Jemaa el-Fna. L’établissement se situe à 2 km de l’aéroport le plus proche (Aéroport Marrakech-Ménara) et
      propose un service de navette aéroport payant.
    </div>

    <div class="appartement-details">
      <div>
        <h3><i class="fa-solid fa-concierge-bell icon-large"></i> Détails de l'Appartement</h3>
        <p><i class="fa-solid fa-ruler-combined icon-large"></i> <strong>Surface :</strong> Environ 90–100 m²</p>
        <p><i class="fa-solid fa-bed icon-large"></i> <strong>Chambres :</strong> 2</p>
        <p><i class="fa-solid fa-bath icon-large"></i> <strong>Salles de bain :</strong> 1</p>
        <p><i class="fa-solid fa-eye icon-large"></i> <strong>Vue :</strong> Piscine ou Jardin</p>
        <p><i class="fa-solid fa-umbrella-beach icon-large"></i> <strong>Terrasse / Balcon :</strong> Oui</p>
        <p><i class="fa-solid fa-user-group icon-large"></i> <strong>Capacité :</strong> 3 adultes et 4 enfants</p>
        <p><i class="fa-solid fa-money-bill-wave icon-large"></i> <strong>Prix :</strong> à partir de 1 200 000 MAD
        </p>
        <p><i class="fa-solid fa-hashtag icon-large"></i> <strong>Référence :</strong> TG1011</p>

        <p><i class="fa-solid fa-location-dot icon-large"></i> <strong>Situation :</strong> Marrakech, proche
          jardins de la Ménara (3,3 km) et Jemaa el-Fna (4,2 km). Aéroport à 2 km (navette dispo).</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-building icon-large"></i> Agencement</h3>
        <ul>
          <li><i class="fa-solid fa-bed icon-large"></i> Chambre 1 : 1 grand lit double</li>
          <li><i class="fa-solid fa-bed icon-large"></i> Chambre 2 : 2 lits simples</li>
          <li><i class="fa-solid fa-couch icon-large"></i> Salon : 1 canapé-lit</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-star icon-large"></i> Points forts</h3>
        <ul>
          <li><i class="fa-solid fa-wifi icon-large"></i> Wi-Fi gratuit dans toutes les chambres</li>
          <li><i class="fa-solid fa-person-swimming icon-large"></i> 2 piscines extérieures toute l’année</li>
          <li><i class="fa-solid fa-square-parking icon-large"></i> Parking privé gratuit</li>
          <li><i class="fa-solid fa-utensils icon-large"></i> Restaurant (options halal, américaines, belges,
            brésiliennes)</li>
          <li><i class="fa-solid fa-van-shuttle icon-large"></i> Navette aéroport (en supplément)</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-screwdriver-wrench icon-large"></i> Équipements</h3>
        <ul>
          <li><i class="fa-solid fa-temperature-high icon-large"></i> Climatisation, chauffage</li>
          <li><i class="fa-solid fa-tv icon-large"></i> TV écran plat</li>
          <li><i class="fa-solid fa-kitchen-set icon-large"></i> Cuisine équipée (réfrigérateur, four, cafetière,
            ustensiles)</li>
          <li><i class="fa-solid fa-house icon-large"></i> Terrasse bien exposée, jardin</li>
          <li><i class="fa-solid fa-elevator icon-large"></i> Ascenseur</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-hand-holding-hand icon-large"></i> Services</h3>
        <ul>
          <li><i class="fa-solid fa-hotdog icon-large"></i> Snack-bar, livraison de courses</li>
          <li><i class="fa-solid fa-golf-ball-tee icon-large"></i> Minigolf, golf à moins de 3 km</li>
          <li><i class="fa-solid fa-car icon-large"></i> Location de voiture, navette privée</li>
          <li><i class="fa-solid fa-concierge-bell icon-large"></i> Réception 24h/24</li>
          <li><i class="fa-solid fa-baby icon-large"></i> Barrières de sécurité pour bébés</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-scale-balanced icon-large"></i> Conditions</h3>
        <ul>
          <li><i class="fa-solid fa-child icon-large"></i> Enfants bienvenus</li>
          <li><i class="fa-solid fa-smoking-ban icon-large"></i> Établissement non-fumeur</li>
          <li><i class="fa-solid fa-ban icon-large"></i> Animaux non admis</li>
          <li><i class="fa-solid fa-shield-halved icon-large"></i> Sécurité 24h/24 (caméras & extincteurs)</li>
        </ul>
      </div>
      <div>
        <h3><i class="fa-solid fa-language icon-large"></i> Langues parlées</h3>
        <ul>
          <li><i class="fa-solid fa-comment icon-large"></i> Arabe</li>
          <li><i class="fa-solid fa-comment icon-large"></i> Français</li>
          <li><i class="fa-solid fa-comment icon-large"></i> Anglais</li>
        </ul>
      </div>
    </div>

    <div class="appartement-contact">
      Intéressé par ce bien ? <br>
      Contactez-nous dès aujourd'hui à <strong>info@tigmino.ma</strong> ou via WhatsApp au <strong>+212 6 74 60 20
        18</strong> pour plus d'informations ou programmer une visite.
    </div>



    <div class="CONTACTMAP">
      <!-- Contact Form -->
      <div class="tigmino-contact">
        <form id="settings-form" method="POST" action="/Réglages">
          <h2>Ajouter une demande</h2>

          <label>Nom · Prénom</label>
          <input type="text" name="name" placeholder="Nom · Prénom" required>

          <label>Téléphone</label>
          <input type="text" name="phone" placeholder="Téléphone" required>

          <label>Message</label>
          <textarea name="message" required></textarea>

          {% if not session.username %}
          <h2>Connectez-vous au TIGMINO</h2>
          {% else %}
          <button class="save-btn" type="submit">SAUVEGARDER</button>
          {% endif %}
        </form>
      </div>

      <!-- Map -->
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3398.3902769599927!2d-8.008624124545804!3d31.595764074179556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafef064eea8e01%3A0x2c2c0d4d3b967374!2sR%C3%A9sidence%20Prestigia%20-%20Corail%20-%20Marrakech%20Golf%20City!5e0!3m2!1sfr!2sma!4v1750017956049!5m2!1sfr!2sma"
          width="500" height="460" style="border:0;" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>





  </main>



  <script src="../../static/Script.js"></script>


</body>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../static/TG.png" alt="TG Logo">
      <p>TIGMINO – Vivez le Maroc, maison par maison.</p>
    </div>


    <div class="footer-links">
      <h4>Navigation</h4>
      <ul>
        <li><a a href="/Accueil">Accueil</a></li>
        <li><a href="/locations/journaliere">Locations : Locations journaliére</a></li>
        <li><a href="/locations/longue-duree">Locations : Locations longue durée</a>
        </li>
        <li><a href="/ACHATS-VENTES/Appartements">Achats / Ventes : Appartements</a></li>
        <li><a href="/ACHATS-VENTES/Maisons">Achats / Ventes : Maisons</a></li>
        <li><a href="/ACHATS-VENTES/Villas">Achats / Ventes : Villas</a></li>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
        <a href="/Site">Site</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p>Email : contact@tigmino.ma</p>
      <p>Tél : +212 6 00 00 00 00</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TIGMINO. Tous droits réservés.</p>
  </div>
</footer>

</html>